/* ==============================================================================================
                home section 1
=============================================================================================*/
.Home {
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Home > div:first-child {
  height: 100vh;
  display: flex;
  justify-content: center;
  justify-items: center;
}
.welcome {
  margin: auto 0;
  padding: 100px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.welcome > span:first-child {
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  font-size: 100px;
  margin-bottom: 20px;
}
.welcome > span:nth-child(2) {
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  margin-bottom: 20px;
  letter-spacing: 10px;
}

.Home > div:last-child {
  white-space: nowrap;
  background-color: rgb(81, 88, 98, 0.5);
  display: inline-block;
  margin: 0 auto;
  border-radius: 8px;
  padding: 100px 10px;
  padding-bottom: 170px;
  width: 100%;
}
.fixedWidth-Homesection {
  width: 1200px;
  margin: 20px auto;
  display: flex;
}

.homeSection1 {
  display: flex;
  margin-top: 100px;
}

.homeSection1 > div:first-child {
  /* border: 2px solid red; */
  width: 20%;
  background-color: #fff;
  display: flex;
  border-radius: 8px;
}
.homeSection1 > div:nth-child(2) {
  width: 58%;
  margin: 0 1%;
}
.homeSection1 > div:last-child {
  border-radius: 8px;
  width: 20%;
}
.homeCat > a {
  height: 32px;
  padding-left: 8px;
  width: 20vw;
  display: flex;
}
.homeCat > a :hover {
  border-bottom: 1px solid grey;
}

.itm {
  align-items: center;
}

/* =======================================
                sliders
===========================================*/
.offerSlider img {
  display: block;
  width: 100%;
  height: 350px;
  border-radius: 8px;
}
.mainSlider img {
  width: 100%;
  height: 350px;
  border-radius: 8px;
}
.horSlider {
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  /* border: 2px solid greenyellow; */
}
.cover {
  position: relative;
  display: inline-block;
  width: 98%;
  margin: 0 auto;
  background-color: rgb(163, 163, 163, 0.5);
  border-radius: 8px;
  margin-top: 20px;
  padding: 5px 0;
  z-index: 0;
}
.scroll-images {
  width: 100%;
  /* background-color: blue; */
  display: inline-flex;
  justify-content: left;
  align-items: center;
  overflow: auto;
  position: relative;
  scroll-behavior: smooth;
  padding: 10px;
}
.main-home-category-toggle {
  visibility: hidden;
}
/* ==============================================================================================
                home section 2
=============================================================================================*/

.rBtn {
  border-radius: 20px;
  color: rgb(81, 88, 98);
  height: 40px;
  width: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rBtn:hover {
  filter: brightness(1);
  background-color: rgb(81, 88, 98, 0.5);
}

.horSlider > div:first-child > *,
.horSlider > div:last-child > * {
  width: 25px;
  height: 25px;
}

.child {
  width: 150px;
  height: 90%;
  margin: 0 6px;
  /* background-color: #fff; */
  padding: 5px;
  border-radius: 8px;
  cursor: pointer;
}
.scroll-images::-webkit-scrollbar {
  display: none;
}

.child img {
  width: 125px;
  height: 125px;
  border-radius: 8px;
}

.homeSection4,
.homeSection3 {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
.homeSection4 > h1,
.homeSection3 > h1 {
  background-color: none;
  padding: 10px;
  border-radius: 12px;
  color: #fff;
  border: 2px solid #707070;
}
.homeSection2-btn-left {
  position: absolute;
  z-index: 1;
  top: 40%;
  left: -4px;
}
.homeSection2-btn-right {
  position: absolute;
  z-index: 1;
  top: 40%;
  left: 97%;
}
/* ==============================================================================================
                home section 3
=============================================================================================*/
.homeSection3-child:hover {
  box-shadow: 0px 0px 8px #ecd9d9;
}
.homeSection3-child {
  display: inline-block;
  /* border: 2px solid black; */
  max-width: 170px;
  margin: 0 10px;
  min-height: fit-content;
  background-color: rgb(178, 181, 184, 0.6);
  border-radius: 10px;
  padding: 4px;
}
.homeSection3-child > div:first-child {
  position: relative;
  margin: 20px 0;
  max-width: fit-content;
  /* border: 2px solid rebeccapurple; */
}
.homeSection3-child > div > img {
  max-width: 100%;
  /* border: 2px solid greenyellow; */
  display: block;
  border-radius: 8px;
  object-fit: contain;
}
.homeSection3-child > div:first-child > div {
  position: absolute;
  top: 175px;
  left: 120px;
  color: rgb(187, 183, 183);

  background-color: rgb(81, 88, 98, 0.8);
  /* border: 2px solid greenyellow; */
  padding: 4px;
  border-radius: 6px;
}

.homeSection3-child > div:nth-child(2) {
  display: inline-block;
  /* border: 2px solid greenyellow; */
  width: fit;
}
.homeSection3-child > div:nth-child(2) h3 {
  font-weight: bold;
  text-transform: capitalize;
  max-width: fit-content;
  display: inline;
  margin: 4px 0;
}
.homeSection3-child > div:nth-child(2) p {
  font-size: 13px;
}
.homeSection3-btn-left {
  position: absolute;
  z-index: 1;
  top: 40%;
  left: -3px;
  color: rgb(81, 88, 98, 0.8);
}
.homeSection3-btn-right {
  position: absolute;
  top: 40%;
  z-index: 1;
  left: 98%;
  color: rgb(81, 88, 98, 0.8);
}
.s400px {
  display: none;
}
/* ==============================================================================================
 home section 4
=============================================================================================*/
.homeSection4-btn-left {
  position: absolute;
  z-index: 1;
  top: 40%;
  left: -5px;
  color: rgb(81, 88, 98, 0.8);
}
.homeSection4-btn-right {
  position: absolute;
  left: 97%;
  top: 40%;
  color: rgb(81, 88, 98, 0.8);
}

/* ==============================================================================================
                                            media querises
=============================================================================================*/
/* small tablet */
@media screen and (max-width: 950px) {
  /*================home============*/
  .fixedWidth {
    width: 100vw;
    padding: 0 5%;
    object-fit: cover;
    margin: 0 auto;
  }
  .Home {
    height: fit-content;
    width: 100vw;

    background: url(../img/living-room-with-yellow-armchair-empty-dark-blue-wall-background-3d-rendering.jpg);
  }
  .Home > div:first-child {
    height: fit-content;
  }
  .welcome {
    min-width: 375px;
    height: 100vh;
    padding: 0;

    justify-items: center;
  }
  .welcome span:first-child {
    font-size: 60px;
  }
  .welcome span:last-child {
    font-size: 20px;
  }

  .Home > div:last-child {
    padding: 0;
    background: none;
  }
  .homeSection1 > div:first-child,
  .homeSection1 > div:last-child {
    display: none;
    position: absolute;
    padding: 0;
  }
  .homeSection1 {
    width: 100%;
  }
  .homeSection1 > div:nth-child(2) {
    width: 100%;
  }
  .homeSection4,
  .homeSection3 {
    max-width: 100%;
  }
  .mainSlider > img {
    display: inline-block;
    height: 200px;
    width: 100%;
  }
  .mainSlider {
    display: block;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  .horSlider {
    width: 100%;
  }
  .cover {
    width: 100%;
    padding: 0px;
  }
  .scroll-images {
    padding: 0px;
  }
  .child img {
    height: 70px;
    width: 70px;
  }
  .homeSection2-btn-right,
  .homeSection4-btn-right,
  .homeSection3-btn-right {
    left: 93%;
  }
  .rBtn > * {
    height: 20px;
  }
  .homeSection3-child {
    height: fit-content;
    width: 93;
  }
  .homeSection3-child > div > img {
    height: 58px;
    width: 86px;
  }
  .homeSection3-child > div:nth-child(2) {
    object-fit: cover;
  }
  .homeSection3-child > div:nth-child(2) h3 {
    font-size: 10px;
  }
  .homeSection3-child > div:nth-child(2) p {
    font-size: 7px;
    width: 90px;
    object-fit: cover;
  }
  .homeSection3-child > div:first-child > div {
    top: 55px;
  }
  .homeSection3-child > div:first-child > div > h3 {
    font-size: 10px;
  }
  .ratings {
    padding-bottom: 4px;
    width: 50px;
  }
}
/* large tablet and laptops */
@media screen and (min-width: 960px) {
}
/* desktop styles */
@media screen and (min-width: 1200px) {
}
