/* ===================================
                  log In
======================================*/
.logIn,
.signIn {
  background: url(../img/living-room-with-yellow-armchair-empty-dark-blue-wall-background-3d-rendering.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-top: 100px;
  height: 800px;
  font-family: Arial, Helvetica, sans-serif;
}
.logIn > section:first-child,
.signIn > section:first-child {
  border-top: 3px solid black;
  border-bottom: 3px solid rgb(0, 0, 0);
  display: inline-block;
  display: flex;
  flex-direction: column;
  color: black;
  width: max-content;
  padding: 100px;
  margin-top: 100px;
  margin-left: 100px;
}
.loginPage > h1:first-child {
  margin-top: 100px;
  margin-left: 10px;
  margin-bottom: 0;
  text-transform: capitalize;
  display: inline-block;
  font-weight: bold;
}
.loginPage > h1:nth-child(2) {
  margin-left: 10px;
  text-transform: capitalize;
  margin-top: 10px;
  display: inline-block;
  font-weight: bold;
}
.loginPage > h3 {
  margin-left: 10px;
  color: #dbd5d5;
}
.loginPage > img {
  width: 300px;
  margin: 2px 50px;
}
.loginPage > button {
  margin-left: 70%;
}
.arr1 {
  cursor: pointer;
}
.logIn > section:first-child > span:first-child,
.signIn > section:first-child > span:first-child {
  font-size: 100px;
  text-transform: uppercase;
}
.logIn > section:first-child > span:last-child,
.signIn > section:first-child > span:last-child {
  font-size: 40px;
  text-transform: capitalize;
  letter-spacing: 6px;
}
.logIn > section:last-child,
.signIn > section:last-child {
  background-color: rgba(81, 88, 98, 0.382);
  max-width: 412px;
  width: 370px;
  height: 600px;

  border: 1px solid black;
  border-radius: 12px;
  position: absolute;
  top: 100px;
  left: 70%;
  display: flex;
  flex-direction: column;
}
.logIn > section:last-child > h1 {
  margin-top: 100px;
  display: flex;
  justify-content: flex-start;
  margin-left: 20px;
  text-transform: capitalize;
  font-weight: bold;
}
.logIn > section:last-child > input {
  padding: 8px;
  margin: 0 20px;
  background-color: rgb(164, 164, 164);
  border-radius: 8px;
  border: 2px solid #c1c1c1;
}
.logIn > section:last-child > input::placeholder {
  font-size: 12px;
  opacity: 0.5;
}
.logIn > section:last-child > h3 {
  margin-left: 20px;
  text-transform: capitalize;
  font-size: 11px;
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 50px;
  cursor: pointer;
}
.logIn > section:last-child > button {
  width: 150px;
  border-radius: 18px;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 125px;
  text-transform: capitalize;
  font-size: 12px;
  padding: 10px;
  background-color: rgb(190, 185, 185);
}
.logIn > section:last-child > h2 {
  font-size: 12px;
  text-transform: capitalize;
  font-weight: bold;
  margin: 0 auto;
  margin-bottom: 50px;
}
.logIn > section:last-child > h2 > a {
  text-decoration: underline;
  cursor: pointer;
}

/*============================ 
            sign up 
================================*/
.signIn > section:last-child h1 {
  margin-top: 100px;
  text-transform: capitalize;
}
.progressBar {
  width: 80%;
  display: inline-block;
  margin: 0 auto;
  height: 5px;
}
.progressBar > div {
  height: 100%;
  width: 100%;
  background-color: rgb(164, 164, 164);
  border-radius: 40px;
  margin-top: 30px;
}
.dotNumber {
  height: 20px;
  width: 20px;

  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  font-size: 10px;
}
.dotColorw {
  background-color: rgb(164, 164, 164);
  transition: ease-in 0.4s;
}
.dotColorg {
  background-color: rgb(83, 240, 83);
  transition: ease-in 0.4s;
}
.dotNumber:nth-child(1) {
  top: 163px;
}
.dotNumber:nth-child(2) {
  top: 163px;
  left: 37%;
}
.dotNumber:nth-child(3) {
  top: 163px;
  left: 63%;
}
.dotNumber:nth-child(4) {
  left: 85%;
  top: 163px;
}
.childDiv {
  height: 100%;
  background-color: rgb(83, 240, 83);
  border-radius: 40px;
}
.signUpForm1 {
  margin-top: 100px;
}
.input {
  padding: 8px;
  margin: 0 20px;
  border-radius: 8px;
  border: 2px solid #c1c1c1;
  background-color: rgb(164, 164, 164);
  width: 90%;
  margin-bottom: 20px;
  font-size: 12px;
}
.button1 {
  margin-left: 41%;
  display: inline-block;
  width: 100px;
  background-color: rgb(164, 164, 164);
}
.qt {
  text-transform: capitalize;
  margin: 0 90px;
  margin-top: 100px;
  font-size: 12px;
}
.qt > a {
  cursor: pointer;
  text-decoration: underline;
}
.mr-2 {
  margin-left: 8px;
}
.button2 {
  width: 100px;
  display: inline-block;
  background-color: rgb(164, 164, 164);
}
.signUpForm1 select {
  display: block;
  width: 90%;
  text-align: center;
  margin: 10px auto;
  padding: 4px;
  border-radius: 8px;
  border: 2px solid #c1c1c1;
  background-color: rgb(164, 164, 164);
  text-transform: capitalize;
  font-size: 14px;
}
.signUpForm1 textarea {
  border: 2px solid #c1c1c1;
  margin: 0 auto;
  display: block;
  resize: none;
  width: 90%;
  background-color: rgb(164, 164, 164);
  padding: 8px;
  height: 50px;
  border-radius: 8px;
  text-transform: capitalize;
}
.w1 {
  width: 15%;
  transition: ease-in-out 0.7s;
}
.w2 {
  width: 45%;
  transition: ease-in-out 0.7s;
}
.w3 {
  width: 75%;
  transition: ease-in-out 0.7s;
}
.w4 {
  width: 100%;
  transition: ease-in-out 0.7s;
}
.eye1 {
  position: relative;
}
.eye2 {
  position: relative;
}
.eyeI {
  position: absolute;
  bottom: 27px;
  left: 88%;
}
/* ==============================================================================================
                                            media querises
=============================================================================================*/

/* small tablet */
@media screen and (max-width: 950px) {
  .logIn,
  .signIn {
    display: flex;
    flex-direction: column;
    height: fit-content;
    align-items: center;
    width: 100vw;
    background-repeat: no-repeat;
    height: 100%;
    background: url(../img/living-room-with-yellow-armchair-empty-dark-blue-wall-background-3d-rendering.jpg);
    height: 120vh;
  }
  .logIn > section:first-child > span:first-child,
  .signIn > section:first-child > span:first-child {
    font-size: 60px;
  }
  .logIn > section:first-child,
  .signIn > section:first-child {
    text-align: center;
  }
  .logIn > section:first-child > span:last-child,
  .signIn > section:first-child > span:last-child {
    font-size: 20px;
  }
  .logIn > section:first-child,
  .signIn > section:first-child {
    padding: 20px;
    margin: 0 auto;
    margin-top: 20px;
  }
  .logIn > section:last-child,
  .signIn > section:last-child {
    top: 250px;
    left: 10%;
    width: 80%;
    height: 500px;
    color: black;
    margin: 0 auto;
  }
  .loginPage > img {
    width: 80%;
  }
  .loginPage > h1:first-child {
    margin-top: 70px;
  }
  .logIn > section:last-child > button {
    margin-bottom: 20px;
  }
  .logIn > section:last-child > h2 {
    margin-bottom: 0;
  }
  .changeForm {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .button1 {
    margin-left: 36%;
  }
  .mr-2 {
    margin-left: 0;
  }
  .qt {
    margin-top: 20px;
  }
}
